**Task 1: Create a pandas dataframe (DataFrame name as 'df') with numpy random values (4 features and 4 observation)**

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
s1 = pd.Series(np.random.rand(4))
s2 = pd.Series(np.random.rand(4))
s3 = pd.Series(np.random.rand(4))
s4 = pd.Series(np.random.rand(4))

In [ ]:
df = pd.DataFrame([s1,s2,s3,s4])
df

          0         1         2         3
0  0.814714  0.072480  0.153732  0.673174
1  0.382379  0.249886  0.143810  0.787124
2  0.011876  0.032129  0.306619  0.936712
3  0.178110  0.377426  0.103078  0.381910

**Task 2: Rename the task - 1 'df' dataframe column names to 'Random value 1', 'Random value 2', 'Random value 3' & 'Random value 4'**

In [ ]:
df.columns=[ 'Random value 1', 'Random value 2', 'Random value 3','Random value 4']
df

   Random value 1  Random value 2  Random value 3  Random value 4
0        0.814714        0.072480        0.153732        0.673174
1        0.382379        0.249886        0.143810        0.787124
2        0.011876        0.032129        0.306619        0.936712
3        0.178110        0.377426        0.103078        0.381910

**Task 3: Find the descriptive statistics of the 'df' dataframe.**

In [ ]:
df.describe(include='all')

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.346770        0.182980        0.176810        0.694730
std          0.346814        0.160470        0.089272        0.234814
min          0.011876        0.032129        0.103078        0.381910
25%          0.136552        0.062392        0.133627        0.600358
50%          0.280244        0.161183        0.148771        0.730149
75%          0.490462        0.281771        0.191953        0.824521
max          0.814714        0.377426        0.306619        0.936712

**Task 4: Check for the null values in 'df' and find the data type of the columns.**

In [ ]:
df.isnull()

   Random value 1  Random value 2  Random value 3  Random value 4
0           False           False           False           False
1           False           False           False           False
2           False           False           False           False
3           False           False           False           False

In [ ]:
#datatypes of columns
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Random value 1  4 non-null      float64
 1   Random value 2  4 non-null      float64
 2   Random value 3  4 non-null      float64
 3   Random value 4  4 non-null      float64
dtypes: float64(4)
memory usage: 256.0 bytes

**Task 5: Display the 'Random value 2' & 'Random value 3' columns with location method and index location method.**

In [ ]:
df.loc[0:,'Random value 2':'Random value 3']

   Random value 2  Random value 3
0        0.072480        0.153732
1        0.249886        0.143810
2        0.032129        0.306619
3        0.377426        0.103078

In [ ]:
df.iloc[0:,1:3]

   Random value 2  Random value 3
0        0.072480        0.153732
1        0.249886        0.143810
2        0.032129        0.306619
3        0.377426        0.103078